.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #000000;
  border-radius: 12px;
  height: 1072px;
  position: relative;
  overflow: hidden;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 138px;
  top: 94px;
}
.rudrakshi-moudgil {
  color: #ffffff;
  text-align: left;
  font-family: "TaiHeritagePro-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 934px;
  top: 119px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "TaiHeritagePro-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1073px;
  top: 121px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "TaiHeritagePro-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1175px;
  top: 106px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  position: relative;
}
.contact-us-span {
  font-family: "TaiHeritagePro-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.contact-us-span2 {
  font-family: "TaiHeritagePro-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.frame-10 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 317px;
  position: absolute;
  left: 551px;
  top: 393px;
}
.frame-5 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.meet-me {
  color: #ffffff;
  text-align: left;
  font-family: "TaiHeritagePro-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: relative;
}
.frame-6 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 339px;
  top: 583px;
}
.i-have-worked-as-a-software-engineer-for-three-years-in-coforge {
  color: #ffffff;
  text-align: left;
  font-family: "TaiHeritagePro-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.frame-8 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 227.05px;
  height: auto;
  position: absolute;
  left: 622px;
  top: 760px;
  overflow: visible;
}
.frame-7 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 663px;
  top: 768px;
}
.get-started {
  color: #000000;
  text-align: left;
  font-family: "TaiHeritagePro-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.frame-9 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 472px;
  top: 939px;
}
.rudrakshi-moudgil-university-of-maryland-spring-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "TaiHeritagePro-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}